header {
  padding: 2rem 1rem;
}

.register {
  border-radius: 15px;
  background-color: #1c1e22;
  color: #fcac19;
  max-width: 50em;
  font-size: 1.2rem;
  padding: 0.6em;
  margin: 0.5em;
  text-shadow: 0 0 5px black;
}
